.container {
  width: 100vw;
  display: flex;
  margin-top: 100px;
  justify-content: center;
}

.inner_container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  text-align: left;
  color: #fff;
  margin-bottom: 20px;
}

.contact_message {
  width: 525px;
  height: 64px;
  font-weight: 300;
  font-size: 18px;
  line-height: 35px;
  text-align: left;
  color: #fff;
}

.email_container {
  display: flex;
  align-items: center;
  margin-top: 80px;
}

.icon_container {
  width: 49px;
  height: 49px;
  border: 1px solid #333333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.email_info h5 {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  color: #333333;
}

.email_info p {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  color: #fff;
}

.inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.button_container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.success_message {
  color: #fff;
  font-size: 18px;
  line-height: 10;
}

@media screen and (max-width: 450px) {
  .container {
    margin-top: 50px;
  }
  .inner_container {
    flex-direction: column;
    justify-content: space-between;
  }
  .title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 10px;
    text-align: center;
  }
  .contact_message {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: -10px;
    text-align: center;
  }
  .email_container {
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .icon_container {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .email_info h5 {
    font-size: 16px;
    line-height: 20px;
  }
  .email_info p {
    font-size: 16px;
    line-height: 20px;
  }
  .form_section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .inputs {
    flex-direction: column;
  }
  .name_input {
    margin-bottom: 20px;
  }
  .button_container {
    margin-top: 20px;
  }
  .success_message {
    text-align: center;
    line-height: 18px;
  }
}
