.container {
  width: 100vw;
  height: 615px;
  background-image: url("../images/experience_image.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner_container {
  width: 800px;
  display: flex;
  justify-content: space-between;
}

.info_box {
  width: 328px;
  height: 256px;
  border-radius: 10px;
  background: #111;
  border: 1px dashed #707070;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info_box p {
  font-weight: 300;
  font-size: 35px;
  line-height: 39px;
  text-align: center;
  color: #fff;

  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
