.container {
  width: 100vw;
  margin-top: 50px;
}

.socials {
  width: 767px;
  height: 83px;
  background: #6811eb;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.insta_link {
  margin-right: 30px;
}

.linkedin_link {
  margin-right: 30px;
}

.copyright {
  font-weight: 300;
  font-size: 18px;
  line-height: 35px;
  text-align: center;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 450px) {
  .container {
    width: 100vw;
    margin-top: 50px;
  }

  .socials {
    width: 50%;
    height: 83px;
    background: #6811eb;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .insta_link {
    margin-right: 30px;
  }

  .linkedin_link {
    margin-right: 30px;
  }
}

@media (min-width: 810px) and (max-width: 1440px) {
  .container {
    width: 100vw;
    margin-top: 50px;
  }

  .socials {
    width: 50%;
    height: 83px;
    background: #6811eb;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .insta_link {
    margin-right: 30px;
  }

  .linkedin_link {
    margin-right: 30px;
  }
}
