.container {
  width: 100vw;
}
.inner_container {
  width: 80%;
  margin: 0 auto;
}
.title {
  text-align: center;
  font-weight: normal;
  font-size: 32px;
  letter-spacing: 0.19em;
  line-height: 32px;
  color: #28293e;
  margin-top: 50px;
}
.grid_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 20px;
  margin-top: 50px;
}
