.container {
  width: 100vw;
  background-color: #28293e;
}
.inner_container {
  width: 100%;
  align-self: center;
}
.top_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.top_text {
  margin-left: 80px;
}
.top_text h4 {
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.19em;
  line-height: 32px;
  text-align: left;
  color: #ef6d58;
}
.top_text p {
  font-weight: normal;
  font-size: 56px;
  letter-spacing: -0.02em;
  line-height: 64px;
  text-align: left;
  color: #fff;
}
.link_container button {
  width: 170px;
  height: 48px;
  border-radius: 6px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.29);
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  margin-right: 80px;
}
.link_container button:hover {
  background-color: #ef6d58;
}
.grid_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
