.container {
  width: 100vw;
  height: 800px;
  background-color: #28293e;
  display: flex;
}
.inner_container {
  width: 100%;
  height: 90%;
  align-self: center;
}
.top_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
